### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [16]:
# Dependencies and Setup
import pandas as pd
import csv

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [25]:
#total number of schools
schools = school_data_complete['school_name'].value_counts()
num_schools = len(schools)

#total number of students is the length of the counts of each unique student ID
num_students = len(school_data_complete['Student ID'].value_counts())

#total budget is the sum of the budget of each school

#get the average budget for each school using groupby and mean
school_grp = school_data_complete.groupby(['school_name']).mean()

#sum the budget for each school's mean
total_budget = school_grp['budget'].sum()

#get the average math score
avg_math = school_data_complete["math_score"].mean()

#get the average reading score
avg_reading = school_data_complete["reading_score"].mean()

#calculate overall passing rate
pass_rate = (avg_math + avg_reading) / 2

#calculate percentage of students with a passing math score


#first create a subframe of students who have math score > 70
#then divide total number of students by size of subframe 

stu_math_pass = school_data_complete.loc[school_data_complete["math_score"] >= 70]

math_pass_percent = 100 * (len(stu_math_pass) / num_students)

#29370/39170

#calculate percentage of students with passing reading score

stu_reading_pass = school_data_complete.loc[school_data_complete["reading_score"] >= 70]

reading_pass_percent = 100 * (len(stu_reading_pass) / num_students)

#create dataframe with district summary values
district_summary = {
"Number of Schools": num_schools,
"Number of Students" :num_students,
"Total Budget": total_budget,
"Average Math Score": avg_math,
"Average Reading Score": avg_reading,
"Pass Rate": pass_rate,
"Percent of Students Passing Math": math_pass_percent,
"Percent of Students Passing Reading": reading_pass_percent
}
print (district_summary)
district_sum_df = pd.DataFrame.from_dict(district_summary, orient='index', columns=['Value'])
pd.set_option('display.float_format', lambda x: '%.3f' % x)
district_sum_df

{'Number of Schools': 15, 'Number of Students': 39170, 'Total Budget': 24649428.0, 'Average Math Score': 78.98537145774827, 'Average Reading Score': 81.87784018381414, 'Pass Rate': 80.43160582078121, 'Percent of Students Passing Math': 74.9808526933878, 'Percent of Students Passing Reading': 85.80546336482001}

                                           Value
Number of Schools                         15.000
Number of Students                     39170.000
Total Budget                        24649428.000
Average Math Score                        78.985
Average Reading Score                     81.878
Pass Rate                                 80.432
Percent of Students Passing Math          74.981
Percent of Students Passing Reading       85.805

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [26]:
#create initial groupby object which includes school name and school type already
schools_group = school_data_complete.groupby(['school_name', 'type'])

#count number of students per school
num_students_school = schools_group['school_name'].count()

#get budget per school
budget_school = schools_group['budget']



school_df = schools_group.mean()
school_df["Per Student Budget"] = school_df["budget"] / school_df["size"]
school_df["average Math Score"] = schools_group['math_score'].mean()
school_df["average Reading Score"] = schools_group['reading_score'].mean()

#create groupby object with students who are passing math AND reading, respectively
df_math_pass = stu_math_pass.groupby(['school_name', 'type'])
df_reading_pass = stu_reading_pass.groupby(['school_name', 'type'])

#count number of math and reading passing students per school
num_stu_mathpass = df_math_pass['school_name'].count()
num_stu_readingpass = df_reading_pass['school_name'].count()

school_df["Percent of Students Passing Math"] = 100 * (num_stu_mathpass / num_students_school) 

school_df["Percent of Students Passing Reading"] = 100 * (num_stu_readingpass / num_students_school) 

school_df["Overall Passing Rate"] = (school_df["Percent of Students Passing Math"] + school_df["Percent of Students Passing Reading"]) /2



#renaming Columns
school_df.rename(columns={'size':'Total Students'}, inplace=True)
school_df.rename(columns={'budget':'Total School Budget'}, inplace=True)

school_df.rename(columns={'budget':'Total School Budget'}, inplace=True)
school_df.head()

,,Student ID,reading_score,math_score,School ID,Total Students,Total School Budget,Per Student Budget,average Math Score,average Reading Score,Percent of Students Passing Math,Percent of Students Passing Reading,Overall Passing Rate
school_name,type,,,,,,,,,,,,
Bailey High School,District,20358.500,81.034,77.048,7.000,4976.000,3124928.000,628.000,77.048,81.034,66.680,81.933,74.307
Cabrera High School,Charter,16941.500,83.976,83.062,6.000,1858.000,1081356.000,582.000,83.062,83.976,94.133,97.040,95.587
Figueroa High School,District,4391.000,81.158,76.712,1.000,2949.000,1884411.000,639.000,76.712,81.158,65.988,80.739,73.364
Ford High School,District,36165.000,80.746,77.103,13.000,2739.000,1763916.000,644.000,77.103,80.746,68.310,79.299,73.804
Griffin High School,Charter,12995.500,83.817,83.351,4.000,1468.000,917500.000,625.000,83.351,83.817,93.392,97.139,95.266

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [29]:
#Top Performing Schools (By % Overall Passing
school_top5 = school_df.nlargest(5, 'Overall Passing Rate')
school_top5

,,Student ID,reading_score,math_score,School ID,Total Students,Total School Budget,Per Student Budget,average Math Score,average Reading Score,Percent of Students Passing Math,Percent of Students Passing Reading,Overall Passing Rate
school_name,type,,,,,,,,,,,,
Cabrera High School,Charter,16941.500,83.976,83.062,6.000,1858.000,1081356.000,582.000,83.062,83.976,94.133,97.040,95.587
Thomas High School,Charter,38352.000,83.849,83.418,14.000,1635.000,1043130.000,638.000,83.418,83.849,93.272,97.309,95.291
Pena High School,Charter,23754.500,84.045,83.840,9.000,962.000,585858.000,609.000,83.840,84.045,94.595,95.946,95.270
Griffin High School,Charter,12995.500,83.817,83.351,4.000,1468.000,917500.000,625.000,83.351,83.817,93.392,97.139,95.266
Wilson High School,Charter,14871.000,83.989,83.274,5.000,2283.000,1319574.000,578.000,83.274,83.989,93.868,96.540,95.204

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [28]:
#Bottom Performing Schools (By % Overall Passing)

school_bot5 = school_df.nsmallest(5, 'Overall Passing Rate')
school_bot5

,,Student ID,reading_score,math_score,School ID,Total Students,Total School Budget,Per Student Budget,average Math Score,average Reading Score,Percent of Students Passing Math,Percent of Students Passing Reading,Overall Passing Rate
school_name,type,,,,,,,,,,,,
Rodriguez High School,District,28035.000,80.745,76.843,11.000,3999.000,2547363.000,637.000,76.843,80.745,66.367,80.220,73.293
Figueroa High School,District,4391.000,81.158,76.712,1.000,2949.000,1884411.000,639.000,76.712,81.158,65.988,80.739,73.364
Huang High School,District,1458.000,81.183,76.629,0.000,2917.000,1910635.000,655.000,76.629,81.183,65.684,81.316,73.500
Johnson High School,District,32415.000,80.966,77.072,12.000,4761.000,3094650.000,650.000,77.072,80.966,66.058,81.222,73.640
Ford High School,District,36165.000,80.746,77.103,13.000,2739.000,1763916.000,644.000,77.103,80.746,68.310,79.299,73.804

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [30]:
school_data_complete.head(25)
#create grade 9
grade_9 = school_data_complete.loc[school_data_complete['grade'].str.contains("9th")]

#create grade 10
grade_10 = school_data_complete.loc[school_data_complete['grade'].str.contains("10th")]

#create grade 11
grade_11 = school_data_complete.loc[school_data_complete['grade'].str.contains("11th")]

#create grade 12
grade_12 = school_data_complete.loc[school_data_complete['grade'].str.contains("12th")]

#groupby schools for each grade level and create a column for the scores for each
grade_9_schools = grade_9.groupby(['school_name', 'type'])

grade_9_schools_mean = grade_9_schools.mean()

grade_9_schools_mean["9th-Math"] = grade_9_schools_mean["math_score"]


grade_10_schools = grade_10.groupby(['school_name', 'type'])

grade_10_schools_mean = grade_10_schools.mean()

grade_10_schools_mean["10th-Math"] = grade_10_schools_mean["math_score"]


grade_11_schools = grade_11.groupby(['school_name', 'type'])

grade_11_schools_mean = grade_11_schools.mean()

grade_11_schools_mean["11th-Math"] = grade_11_schools_mean["math_score"]


grade_12_schools = grade_12.groupby(['school_name', 'type'])

grade_12_schools_mean = grade_12_schools.mean()

grade_12_schools_mean["12th-Math"] = grade_12_schools_mean["math_score"]

#create a list of grades and concatenate
grades = [grade_9_schools_mean, grade_10_schools_mean, grade_11_schools_mean, grade_12_schools_mean]

grade_means = grade_9_schools_mean

grade_means["10th-Math"] = grade_10_schools_mean["10th-Math"]

grade_means["11th-Math"] = grade_11_schools_mean["11th-Math"]

grade_means["12th-Math"] = grade_12_schools_mean["12th-Math"]

grade_means

,,Student ID,reading_score,math_score,School ID,size,budget,9th-Math,10th-Math,11th-Math,12th-Math
school_name,type,,,,,,,,,,
Bailey High School,District,20344.481,81.303,77.084,7.000,4976.000,3124928.000,77.084,76.997,77.516,76.492
Cabrera High School,Charter,16969.634,83.676,83.095,6.000,1858.000,1081356.000,83.095,83.155,82.766,83.277
Figueroa High School,District,4397.879,81.199,76.403,1.000,2949.000,1884411.000,76.403,76.540,76.884,77.151
Ford High School,District,36170.595,80.633,77.361,13.000,2739.000,1763916.000,77.361,77.672,76.918,76.180
Griffin High School,Charter,13031.306,83.369,82.044,4.000,1468.000,917500.000,82.044,84.229,83.842,83.356
Hernandez High School,District,9928.621,80.867,77.438,3.000,4635.000,3022020.000,77.438,77.337,77.136,77.187
Holden High School,Charter,23068.315,83.677,83.787,8.000,427.000,248087.000,83.787,83.430,85.000,82.855
Huang High School,District,1445.726,81.290,77.027,0.000,2917.000,1910635.000,77.027,75.909,76.447,77.226
Johnson High School,District,32399.976,81.261,77.188,12.000,4761.000,3094650.000,77.188,76.691,77.492,76.863
Pena High School,Charter,23766.127,83.807,83.625,9.000,962.000,585858.000,83.625,83.372,84.328,84.122
Rodriguez High School,District,28017.408,80.993,76.860,11.000,3999.000,2547363.000,76.860,76.612,76.396,77.691
Shelton High School,Charter,6750.615,84.123,83.421,2.000,1761.000,1056600.000,83.421,82.917,83.383,83.779
Thomas High School,Charter,38356.794,83.729,83.590,14.000,1635.000,1043130.000,83.590,83.088,83.499,83.497
Wilson High School,Charter,14879.667,83.940,83.086,5.000,2283.000,1319574.000,83.086,83.724,83.195,83.036
Wright High School,Charter,25152.371,83.833,83.265,10.000,1800.000,1049400.000,83.265,84.010,83.837,83.645

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [31]:
#Use previous code and change math to reading

grade_9_schools_mean["9th-Reading"] = grade_9_schools_mean["reading_score"]
grade_10_schools_mean["10th-Reading"] = grade_10_schools_mean["reading_score"]
grade_11_schools_mean["11th-Reading"] = grade_11_schools_mean["reading_score"]
grade_12_schools_mean["12th-Reading"] = grade_12_schools_mean["reading_score"]

grade_means = grade_9_schools_mean

grade_means["10th-Reading"] = grade_10_schools_mean["10th-Reading"]

grade_means["11th-Reading"] = grade_11_schools_mean["11th-Reading"]

grade_means["12th-Reading"] = grade_12_schools_mean["12th-Reading"]

grade_means

,,Student ID,reading_score,math_score,School ID,size,budget,9th-Math,10th-Math,11th-Math,12th-Math,9th-Reading,10th-Reading,11th-Reading,12th-Reading
school_name,type,,,,,,,,,,,,,,
Bailey High School,District,20344.481,81.303,77.084,7.000,4976.000,3124928.000,77.084,76.997,77.516,76.492,81.303,80.907,80.946,80.912
Cabrera High School,Charter,16969.634,83.676,83.095,6.000,1858.000,1081356.000,83.095,83.155,82.766,83.277,83.676,84.253,83.788,84.288
Figueroa High School,District,4397.879,81.199,76.403,1.000,2949.000,1884411.000,76.403,76.540,76.884,77.151,81.199,81.409,80.640,81.385
Ford High School,District,36170.595,80.633,77.361,13.000,2739.000,1763916.000,77.361,77.672,76.918,76.180,80.633,81.263,80.404,80.662
Griffin High School,Charter,13031.306,83.369,82.044,4.000,1468.000,917500.000,82.044,84.229,83.842,83.356,83.369,83.707,84.288,84.014
Hernandez High School,District,9928.621,80.867,77.438,3.000,4635.000,3022020.000,77.438,77.337,77.136,77.187,80.867,80.660,81.396,80.857
Holden High School,Charter,23068.315,83.677,83.787,8.000,427.000,248087.000,83.787,83.430,85.000,82.855,83.677,83.325,83.816,84.699
Huang High School,District,1445.726,81.290,77.027,0.000,2917.000,1910635.000,77.027,75.909,76.447,77.226,81.290,81.512,81.417,80.306
Johnson High School,District,32399.976,81.261,77.188,12.000,4761.000,3094650.000,77.188,76.691,77.492,76.863,81.261,80.773,80.616,81.228
Pena High School,Charter,23766.127,83.807,83.625,9.000,962.000,585858.000,83.625,83.372,84.328,84.122,83.807,83.612,84.336,84.591
Rodriguez High School,District,28017.408,80.993,76.860,11.000,3999.000,2547363.000,76.860,76.612,76.396,77.691,80.993,80.630,80.865,80.376
Shelton High School,Charter,6750.615,84.123,83.421,2.000,1761.000,1056600.000,83.421,82.917,83.383,83.779,84.123,83.442,84.374,82.782
Thomas High School,Charter,38356.794,83.729,83.590,14.000,1635.000,1043130.000,83.590,83.088,83.499,83.497,83.729,84.254,83.586,83.831
Wilson High School,Charter,14879.667,83.940,83.086,5.000,2283.000,1319574.000,83.086,83.724,83.195,83.036,83.940,84.021,83.765,84.318
Wright High School,Charter,25152.371,83.833,83.265,10.000,1800.000,1049400.000,83.265,84.010,83.837,83.645,83.833,83.813,84.156,84.073

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [32]:
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

school_df["Per Student Budget Bin"] = pd.cut(school_df["Per Student Budget"], spending_bins, labels=group_names)
#create new dataframe

budget_bin = school_df


budget_bin = budget_bin.groupby(['Per Student Budget Bin']).mean()
budget_bin = budget_bin.drop("Per Student Budget", axis=1)
budget_bin = budget_bin.drop("Student ID", axis=1)
budget_bin = budget_bin.drop("reading_score", axis=1)
budget_bin = budget_bin.drop("math_score", axis=1)
#budget_bin = budget_bin.drop("size", axis=1)
budget_bin = budget_bin.drop("School ID", axis=1)
budget_bin = budget_bin.drop("Total Students", axis=1)
budget_bin = budget_bin.drop("Total School Budget", axis=1)


budget_bin

,average Math Score,average Reading Score,Percent of Students Passing Math,Percent of Students Passing Reading,Overall Passing Rate
Per Student Budget Bin,,,,,
<$585,83.455,83.934,93.460,96.611,95.035
$585-615,83.600,83.885,94.231,95.900,95.066
$615-645,79.079,81.891,75.668,86.107,80.887
$645-675,76.997,81.028,66.165,81.134,73.649

## Scores by School Size

* Perform the same operations as above, based on school size.

In [33]:
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

#schools group object
schools_group = school_data_complete.groupby(['school_name', 'type'])




school_df = schools_group.mean()

school_df["School Size Bin"] = pd.cut(school_df["size"], size_bins, labels=group_names)




#create new dataframe and drop columns we don't need

size_school_grp  = school_df

size_school_grp = school_df.groupby(['School Size Bin']).mean()

size_school_grp

,Student ID,reading_score,math_score,School ID,size,budget
School Size Bin,,,,,,
Small (<1000),23407.250,83.930,83.822,8.500,694.500,416972.500
Medium (1000-2000),20034.100,83.864,83.375,7.200,1704.400,1029597.200
Large (2000-5000),18454.688,81.344,77.746,6.500,3657.375,2333437.125

## Scores by School Type

* Perform the same operations as above, based on school type

In [34]:
type_grp  = school_df.groupby(["type"]).mean()

type_grp.head(10)

type_grp

,Student ID,reading_score,math_score,School ID,size,budget
type,,,,,,
Charter,20232.000,83.896,83.474,7.250,1524.250,912688.125
District,18966.643,80.967,76.957,6.714,3853.714,2478274.714

In [35]:
school_df

,,Student ID,reading_score,math_score,School ID,size,budget,School Size Bin
school_name,type,,,,,,,
Bailey High School,District,20358.500,81.034,77.048,7.000,4976.000,3124928.000,Large (2000-5000)
Cabrera High School,Charter,16941.500,83.976,83.062,6.000,1858.000,1081356.000,Medium (1000-2000)
Figueroa High School,District,4391.000,81.158,76.712,1.000,2949.000,1884411.000,Large (2000-5000)
Ford High School,District,36165.000,80.746,77.103,13.000,2739.000,1763916.000,Large (2000-5000)
Griffin High School,Charter,12995.500,83.817,83.351,4.000,1468.000,917500.000,Medium (1000-2000)
Hernandez High School,District,9944.000,80.934,77.290,3.000,4635.000,3022020.000,Large (2000-5000)
Holden High School,Charter,23060.000,83.815,83.803,8.000,427.000,248087.000,Small (<1000)
Huang High School,District,1458.000,81.183,76.629,0.000,2917.000,1910635.000,Large (2000-5000)
Johnson High School,District,32415.000,80.966,77.072,12.000,4761.000,3094650.000,Large (2000-5000)
Pena High School,Charter,23754.500,84.045,83.840,9.000,962.000,585858.000,Small (<1000)
Rodriguez High School,District,28035.000,80.745,76.843,11.000,3999.000,2547363.000,Large (2000-5000)
Shelton High School,Charter,6746.000,83.726,83.359,2.000,1761.000,1056600.000,Medium (1000-2000)
Thomas High School,Charter,38352.000,83.849,83.418,14.000,1635.000,1043130.000,Medium (1000-2000)
Wilson High School,Charter,14871.000,83.989,83.274,5.000,2283.000,1319574.000,Large (2000-5000)
Wright High School,Charter,25135.500,83.955,83.682,10.000,1800.000,1049400.000,Medium (1000-2000)